.button {
  border-radius: 50%;
  border: none;
  width: 10vw;
  height: 10vw;
  margin: 2px;
}
@media only screen and (min-width: 376px) {
  .button {
    margin: 3px;
  }
}
@media only screen and (min-width: 415px) {
  .button {
    height: 40px;
    width: 40px;
    margin: 5px;
  }
}

// Don't really need the :active selector
.button:active,
.button:focus {
  outline: 0;
  border: none;
}

.tile-default {
  background-color: white;
}

.tile-orange {
  background-color: orange;
}

.tile-orange-ghost {
  background-color: rgb(255, 227, 175);
}

.tile-blue {
  background-color: turquoise;
}

.tile-blue-ghost {
  background-color: rgb(194, 255, 249);
}

.tile-disabled {
  pointer-events: none;
}
