.button {
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  margin: 5px;
}
// Don't really need the :active selector
.button:active,
.button:focus {
  outline: 0;
  border: none;
}

.playerOrange {
  background-color: orange;
}

.ghostOrange {
  background-color: rgb(255, 227, 175);
}

.playerBlue {
  background-color: turquoise;
}

.ghostBlue {
  background-color: rgb(194, 255, 249);
}
