<!-- Default button -->
<!-- <button
  class="button"
  *ngIf="playerNumber == 0">
</button> -->

<!-- Orange button -->
<!-- <button
  class="button"
  [class]="{'player1' : playerNumber == 1}"
  *ngIf="playerNumber == 1">
</button> -->

<!-- Blue button -->
<!-- <button
  class="button"
  [class]="{'player2' : playerNumber == 2}"
  *ngIf="playerNumber == 2">
</button> -->

<!-- Default button -->
<button
  class="button"
  *ngIf="tileNumber == 0"
  [class]="{'tile-default' : tileNumber == 0, 'isDisabled': isDisabled}">
</button>

<!-- Orange button -->
<button
  class="button"
  [class]="{'tile-orange' : tileNumber == 1, 'tile-disabled': isDisabled}"
  *ngIf="tileNumber == 1">
</button>

<!-- Blue button -->
<button
  class="button"
  [class]="{'tile-blue' : tileNumber == 2, 'tile-disabled': isDisabled}"
  *ngIf="tileNumber == 2">
</button>

<!-- Ghost orange button -->
<button
  class="button"
  [class]="{'tile-orange-ghost' : tileNumber == 3, 'tile-disabled': isDisabled}"
  *ngIf="tileNumber == 3">
</button>

<!-- Ghost blue button -->
<button
  class="button"
  [class]="{'tile-blue-ghost' : tileNumber == 4, 'tile-disabled': isDisabled}"
  *ngIf="tileNumber == 4">
</button>

