// .btn {
//   border-radius: 50%;
//   height: 40px;
//   width: 40px;
// }
.button {
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.button:active,
.button:focus {
  outline: 0;
  border: none;
}

.player1 {
  background-color: orange;
}

.player2 {
  background-color: turquoise;
}
