.button {
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  margin: 5px;
  pointer-events: none;
  vertical-align: middle;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: turquoise;
}
